body{
  background-color: rgba(0,0,0,0.8);
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../images/background.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
}
body, html {
  height:100%
}

a, a:visited {
  color: #4183D7;
}

.headroom{
  background: rgba(0,0,0,0.6);
  margin-bottom: 75px;
  padding: 10px;
}

.content{
  background: white;
  padding: 40px;
  border-radius: 10px;
} 
