body{
  background: white;
  /*background-color: rgba(0,0,0,0.8);*/
  /*background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../images/background.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body, html {
  height:100%
}

h6{
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px dashed #aaa;
}

a, a:visited {
  text-decoration: underline;
  color: #4183D7;
}

blockquote{
  color: #aaa;
  margin: 15px -15px;
  background: #eee;
  color: #888;
  padding: 15px;
  font-style: italic;
}

blockquote p{
  margin: 0px;
}

.hero{
  font-size: 80px;
  font-weight: 100;
  font-family: "Alex Brush"
}

.headroom{
  background: rgba(0,0,0,0.6);
  margin-bottom: 75px;
  padding: 10px;
}

.headroom h3{
  color: white;
  margin: 0px;
}

.content-wrapper{
}

.content{
  background: white;
  padding: 40px 10px;
} 

.main-logo{
  text-align:center;
}

@media (min-width: 972px){
  .main-logo{
    text-align: left;
  }
  .content{
    margin: 40px 0px;
    border-radius: 10px;
    padding: 40px;
  }
}

.blog-list-item{
  margin-bottom: 20px;
}

.blog-list-item h3{
  margin: 0px;
}
